* {
    box-sizing: border-box;
}

.logo a img {
    width: 50px;
    border-radius: 50px;
    align-items: center;
}

body {
    font-family: 'roboto', sans-serif;
    margin: 0;
}

h1 {
    font-size: 3.5em;
}

h2 {
    font-size: 3em;
}

h3 {
    font-size: 2em;
}

h4 {
    font-size: 1.5em;
}

p {
    font-size: 1em;
}

ul {
    list-style: none;
}

li {
    font-size: 1.25em;
}

button {
    font-size: 1em;
    font-weight: bold;
    padding: 10px 30px;
    background-color: black;
    color: aliceblue;
}

.container {
    max-width: 1400px;
    margin: auto;
}

header {
    background-color: whitesmoke;
    border-bottom: 1px solid gray;
}

header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a {
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.hero a img {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-color: white;
    background-size: cover;
}

#hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-color: white;
    background-size: cover;
    background-image: url("img/fondo.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#metodos-de-pago {
    text-align: center;
    padding: 50px 12px;
    background-color: black;
    color: white;
}

#nuestros-productos .container {
    text-align: center;
    padding: 100px 0px;
}

#nuestros-productos h2 {
    margin-top: 0;
}

.foto-producto img {
    width: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#section {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-color: white;
    background-size: cover;
}

#cuidado-de-las-prendas {
    text-align: center;
    padding: 50px 12px;
    background-color: white;
    color: black;
}

.registrarse form {
    padding: 50px;
}

footer {
    background-color: whitesmoke;
    border-top: 1px solid gray;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer li a {
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

@media (min-width: 720px) {
    header {
        position: fixed;
        width: 100%;

    }

    header .container {
        flex-direction: row;
        justify-content: space-between;
    }

    header nav {
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    #metodos-de-pago {
        display: flex;
        justify-content: center;
    }

    #metodos-de-pago h4 {
        display: block;
    }

    #nuestros-productos .container {
        display: flex;
        justify-content: center;
        padding-right: 50px;
    }

    #nuestros-productos h2 {
        padding-right: 100px;
    }

}